<% layout("/layouts/boilerplate.ejs") -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <h3>New Entry</h3>
                <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="listing[title]" class="form-control" required>
                        <div class="valid-feedback">Title Looks good!!!</div>
                        <div class="invalid-feedback">Please enter title</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" rows="3" cols="40" class="form-control" required></textarea>
                        <div class="invalid-feedback">Enter some information in Description</div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label"> Upload Image</label>
                        <input type="file" name="listing[Image]" class="form-control">
                        required
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">Please enter valid Price</div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-5">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" class="form-control" required>
                            <div class="invalid-feedback">Please enter your Location</div>
                        </div>
                        <div class="mb-3 col-md-7">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" value="India" class="form-control" required>
                            <div class="invalid-feedback">Please enter your Country</div>
                        </div>
                    </div>
                    <button class="btn btn-dark new-btn mt-3 mb-3">Submit</button>
                </form> 
            </div>
        </div>
    </body>